In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import nltk

import sys
sys.path.append("../..")
import utils

In [2]:
import importlib
importlib.reload(utils)

In [3]:
ciep = pd.read_csv("../CIEP_pymupdf.csv")
ciep

     key            T                    C                          A   CIEP
0      2      thannia              thannia   ms-lucialauciathanniamr-      2
1      1     tularspu                  NaN                 boundaries      3
2      4         visl          vi(p)s(ia)l       of-the-goddess-vipsi      3
3      5  --echtatr--                  NaN                        NaN      3
4      2          NaN             papsinas  ofmr-aulepapsinamr-lariss      4
...   ..          ...                  ...                        ...    ...
5828   1        pisna                  NaN                        NaN  21041
5829  1A           ru                  NaN                   mr-rufes  21046
5830  1A           ma             ma(rces)                  mr-marces  21065
5831   1        kakas                  NaN                        NaN  21072
5832   1          NaN  mi larthias ur(ial)                        NaN  21077

[5833 rows x 5 columns]

In [4]:
all_chars = set(" ".join(ciep["T"].dropna().to_list())).union(" ".join(ciep["C"].dropna().to_list()))
"".join(sorted(list(all_chars)))

' ()-<>[]abcdefghiklmnopqrstuvwxyz{}'

In [5]:
all_eng_chars = set(" ".join(ciep["A"].dropna().to_list()))
"".join(sorted(list(all_eng_chars)))

' -abcdefghijklmnopqrstuvwxyz'

In [6]:
print("Documents:", len(set(ciep["CIEP"].to_list())))
print("Translations (lines):", len(ciep["A"].dropna()))
print("Translations (documents):", len(set(ciep.dropna(subset="A")["CIEP"].to_list())))

Documents: 4492
Translations (lines): 2288
Translations (documents): 1674

In [7]:
# ciep["T"] = ciep["T"].apply(lambda x: utils.replace(x, utils.to_latin))
# ciep["C"] = ciep["C"].apply(lambda x: utils.replace(x, utils.to_latin))

In [8]:
bad_chars = "φ=!#&*+,?^¯°ÁÆÈÌÍÎÑÛĀĎŠƆƎƧƸǀʃʽ'̣ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΧΩϘϽԐאבדהוזחיךכלםמןנעפקרשת—―‖‛‾ↄ←↑→↓∞∩∫⌠─│┌┐└┘├┤┼═╕╘╪█▌▐◊♠♥\ue76c\uf03e\uf03f\uf04c\uf04d\uf04e\uf04f\uf099\uf0a4\uf0c6\uf0ca\uf0d4\uf0da\uf0db\uf0dc�".lower()

def contains_bad_char(s, bad_chars):
    if s is not None and s is not np.nan:
        for i in bad_chars:
            if i in s.lower():
                return True
    return False

In [9]:
bad_mask = ciep["T"].apply(lambda x: contains_bad_char(x, bad_chars)) | ciep["C"].apply(lambda x: contains_bad_char(x, bad_chars))
print("Bad examples:", bad_mask.sum())

Bad examples: 0

In [10]:
bad = ciep[bad_mask]
bad

Empty DataFrame
Columns: [key, T, C, A, CIEP]
Index: []